{% extends "base.html" %} {% block content %}
<h2>1 Freesea是一个连接网盘的应用,目前兼容seafile，所以您可以用网盘app访问您下载的内容</h2>
<p><a href='http://seafile-downloads.oss-cn-shanghai.aliyuncs.com/seafile-2.2.25.apk'>seafile网盘app下载</a></p>
<h2>2 配置网盘</h2>
<li>点击添加账户<br><img src='/static/seafile-1.png' class="img-thumbnail" /></li>
<li>点击添加其他seafile服务器<br><img src='/static/seafile-2.png' class="img-thumbnail" /></li>
<li>写入freesea连接的网盘地址{{conf['webdavurl']}}</li>
<li>写入您freesea的账号{{conf['name']}}</li>
<li>写入您freesea的密码</br>
    <img src='/static/seafile-3.png' class="img-thumbnail" /></li>
<h2>2 Freesea 是一个连接网盘的应用,目前兼容seafile，所以您可以用网盘app访问您下载的内容</h2>
<li><a href='https://hub.docker.com/repository/docker/rouynxia/freesea/tags?page=1'>freesea docker image下载</a></li>
<li><a href='https://github.com/daomanlet/freesea'>freesea github</a> </li>

{% endblock %}