{% extends "base.html" %} {% block content %}
<div row 'mb-2'>
    <div class='col-sm-12'>
        <h2>Freesea是下载视频工具</h2>
    </div>
</div>
<div row 'mb-2'>
    <div class='col-sm-2'></div>
    <div class='col-sm-8'>
        <p clas='text-info mb-2'>
            <li>
                freesea订阅可以定时下载需要视频，并进行跟踪，但是这需要独立IP去完成
            </li>
            <li>
                用户可以自行申请海外虚拟机，并且通过开源代码安装freesea，<a href='https://github.com/daomanlet/freesea'>git 地址</a>即可完成订阅
            </li>
            <li>
                通过git hub联系开发者也可以协助部署
            </li>
        </p>
    </div>
    <div class='col-sm-2'></div>
</div>
{% endblock %}