<!doctype html>
<html lang="en">

<head>
    <title>{{ title }} - Dark Site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/static/js/rest.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/index">首页<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    {% if current_user.is_anonymous %}
                    <a class="nav-link" href="/login">登录</a>
                    {% else %}
                    <a class="nav-link" href="/logout">{{ current_user.email }} 登出</a>
                    {% endif %}
                </li>
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="/register">注册</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        <hr>
        {% block content %}{% endblock %}</div>
</body>

</html>