{% extends "base.html" %}
{% block content %}
    <div class="row mb-5">
      <div class="col-lg-8 mx-auto">
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
          <div class="input-group">
            <input type="search" placeholder="Search" aria-describedby="button-addon1"
              class="form-control border-0 bg-light" onkeydown="search(this)">
            <div class="input-group-append">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-8 mx-auto">
        <div id="demo" class="carousel slide" data-ride="carousel">
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img id="img" src="/static/daisy.jpg" alt="Los Angeles" width="1100" height="500">
            </div>
          </div>
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    </div>
{% endblock %}